body {
  background-color: coral;
}

#logo {
  display: flex;
  justify-content: center;
  height: 10rem;
  
}

#logo img {
  height: 13rem;
  width: auto;
}

#create-player-btn {
  margin-top: 100px;
}

 .add-player-form {
  margin-top: 110px;
  width: 60%;
}

.card {
  text-align: center;
  border: brown solid 5px;
  padding: 1rem;
  width: 50rem;
  height: 75rem;
  display: inline-grid;
  margin: 2rem 3rem;
}

.player-photo {
  justify-self: center;
  height: 480px;
  width: 360px;
}


